<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital scale=1.0">
        <title>Tienda</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
    </head>
    <body>
        <h1>Bienvenidos a mi tienda virtual</h1>
        <section>
            {% for articulo in articulos %}
            <article>
                <h3>{{articulo.Marca}}</h3>
                <p>
                {{ articulo.Categoría }} <br>
                {{ articulo.NombrePrenda }} <br>
                {{ articulo.Descripcion }} <br>
                <img src="{{ articulo.Imagen }}" alt="Imagen"> 
            </p>
            </article>
            {%endfor%}
        </section>
    </body>
    </html>