<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital scale=1.0">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <h1>Bienvenidos al blog</h1>
    <section>
        {% for articulo in articulos %}
            <article>
                <h3>{{ articulo.titulo }}</h3>
                <p>{{ articulo.contenido }} <br>   
                <!--   {{ articulo.fecha }--> 
                </p>

            </article>
        {% endfor %}
    </section>
</body>
</html>