*{
    background-color: rgb(53, 53, 53);
    color: lightgrey;
}
body h1{
    text-align: center;
}
section {
    width: 100%;
    
}
article{
    background-color: rgb(114, 114, 114);
    border-radius: 20px;
    color: rgb(179, 176, 176);
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
    text-align: center;
}
article h3{
    border-bottom: solid 1px black;
    background-color: rgb(114, 114, 114);
}
p{
    background-color: rgb(114, 114, 114);
}
